
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<ul>
    <li>
        SSC
        <ul>
            <li>BSMARPC</li>
            <li>Science</li>
            <li>2015</li>
        </ul>
    </li>
    <li>
        HSC
        <ul>
            <li>Dr Maleka College</li>
            <li>Science</li>
            <li>2017</li>
        </ul>
    </li>
    <li>
        BSc
        <ul>
            <li>AIUB</li>
            <li>Software Development</li>
            <li>2021</li>
        </ul>
    </li>
</ul>
