<div>

    <img src="https://www.aiub.edu/Files/Templates/NewAIUB/assets/images/aiub-logo.svg"> <br>
    <h1>Zahin Masroor Bhuiyan</h1>
    Student,CSE<br>
    <b>Email:</b>zahin0013@gmail.com <br><br>
    

</div>