
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>
<table>
    <tr>
        <td>Name</td>
        <td>Zahin Masroor</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>23</td>
    </tr>
    <tr>
        <td>Height</td>
        <td>5'11</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>Dhanmondi</td>
    </tr>
</table>
