
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<table class="table table-condensed">

    <tr>
        <th>Name</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>Demo</td>
        <td><a href="http://cs.aiub.edu">AIUB cs site</a></td>
    </tr>
</table>
